body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #232f3e;
    color: #fff;
    padding: 10px;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header {
    background-color: #232f3e;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#amazon-logo {
    font-size: 24px;
    font-weight: bold;
}

#search-bar {
    display: flex;
}

#search-bar input {
    padding: 8px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
}

#search-bar button {
    background-color: #febd69;
    color: #232f3e;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

#cart {
    background-color: #febd69;
    color: #232f3e;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 50px; /* Added margin at the bottom of the container */
    border: #000;
}

.category-card {
    position: relative;
    width: 500px;
    height: 450px;
    margin: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    filter: blur(0);
    transition: filter 0.3s ease-in-out;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-card:hover img {
    filter: blur(4px);
}

.category-card h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.category-card:hover h2 {
    opacity: 1;
}

footer {
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
}
